data/
pylog124M/
__pycache__/
venv/
*.pt
tokenizers/readmetokenizer_v1000_n100000.pkl
experiments/*_ReadmeGPT/
scratch.py
uv.lock
build/
pytest_cache/
htmlcov/
*.egg-info/
*__pycache__/
.coverage
.python-version
outputs/